.raw_container{
  width: 1500px;
  margin: 0 auto;
  margin-top: 15px;
}

.search-container{
  margin-right: 0px;
  margin-left: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
